@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-body: 'Poppins', sans-serif;
  --font-headline: 'Poppins', sans-serif;
  /* colors */
  --primary-color: #412234;
  --secondary-color: #525b0f;
  --tertiary-color: black;
  --light-grey: #d0d0d0;
  --english-violet: #6D466B;

  /* sizes */
  --font-base: 16px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--tertiary-color);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--english-violet);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

main.divider {
  margin: 1rem;
  margin-top: 0;
}

.container, .tracker, .mission, .buttons, .sidebar {
  /* grid-area: collage;
  row-gap: 10px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

h1 {
  font-family: var(--font-headline);
  font-size: calc(24px + 12*(100vw - 375px)/777);
  margin: 0;
}

/* Start tracker styles */

.bold {
  font-weight: bold;
}

.light-green {
  background-color: #E6F6EF;
  width: 100%;
  height: 5px;
}

.green {
  background-color: #02A95C;
  height: 5px;
  width: 20%;
}

.text {
  font-size: 14px;
}

.buttons {
  margin: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: yellow;
  border-radius: 10px;
}

.share-button {
  background-color: #F4BE54;
}

.donate-button {
  background-color: #F99A32;
}

/* End tracker styles */

.mission {
  /* padding: 0 0.5em; */
  /* margin: 0.5em 0; */
  line-height: 1.3;
  margin: auto;
  font-size: 15px;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--english-violet);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 16px;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }

}

@media screen and (min-width: 1024px) {

  main.divider {
    margin: 3rem;
  }

  .container {
    grid-template-columns: 2fr 1fr;
    gap: 25px;
  }

  div.container h1 {
    grid-area: 1/1/2/3;
    font-size: calc(28px + 12*(100vw - 375px)/777);
  }

  div.hero {
    grid-column: 1;
    order: 1;
  }


  .sidebar {
    grid-column: 2;
    grid-row: 2/3;
    height: 200px;
  }

  .mission {
    grid-area: 3/1;
    margin: 5px;
    line-height: 27px;
  }

}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
