	<p>
		I'm Jeremiah Ezekiel, and I am embarking on a transformative journey—one that's not 
		just about personal growth, but about making a positive impact in the world. I am 
		reaching out to you today with a heart full of hope and a vision for change.
	</p>
	<p>
		My story is one of resilience, dreams, and the unwavering pursuit 
		of a better future. Life has presented me with challenges, 
		but I've always strived to turn adversity into opportunity. I 
		am the sixth child of seven in my family. I lost my dad at about 
		eight (8) years old and I and my siblings have been raised by a 
		loving, hardworking mother. I have witnessed firsthand what it 
		means to keep grinding on despite scarce resources from my mother. 
		She managed to see my younger brother and me through HIGH SCHOOL but was 
		unable to further to college because of a lack of resources. In the process, 
		I learned the value of determination and the strength that comes from facing obstacles.
	</p>
	<p>
		I did menial jobs for about three years after high school and was able to 
		afford at least three years in college. This made me the only one in my family 
		who entered the walls of college, but as soon as I gained admission to study 
		MEDICAL LABORATORY SCIENCE, the fees increased and the little I had saved 
		could no longer see me through the second level. I dropped out during the 
		second semester. I became a TRICYCLE COMMERCIAL DRIVER to be able to feed 
		myself, give a little extra to those around me, and ultimately become self-reliant.
	</p>
	<p>
		Amid life's trials, I've been gifted with a burning passion to get a higher education in the technological field. 
		This is more than just a personal endeavor—it's a mission to better contribute to society, 
		become more proficient in solving problems in society, and create an avenue for others to be successful. 
		I enrolled in Brigham Young University online majoring in Software Development and I am currently in my second year. 
		I found this helpful because I could navigate my work and school.
	</p>
	<p>
		The road to achieving this vision has not been easy. I've dedicated countless hours, 
		and sleepless nights, and poured every ounce of energy into making this dream a reality. 
		However, I've reached a point where I need your support to take this mission further. 
		Recently in June 2023, due to a hike in petrol prices in my country, I had to work three 
		times more to afford the minimum to take care of my immediate needs. This makes it difficult 
		to find time for studies and extra practice to be more proficient in my career. 
		My education and a chance to make a difference are at risk again.
	</p>
	<p>
		Your contribution will not only help me focus my time to get the best out of my education, 
		but it will also be an investment in mental health, enhanced concentration, better learning outcomes, 
		improved creativity, a sense of freedom and empowerment, and my ability to give back. Together, we can 
		create a ripple effect of positive change that extends far beyond my journey.
	</p>
	<p>
		I understand that times are tough for everyone, and your consideration means the world to me. 
		Your donation, no matter the size, is a vote of confidence in the possibility of a brighter future and a better world.
	</p>
	<p>
		I am not just asking for your financial support; I am asking for your belief in the power of human potential, 
		and in the ability to effect change.
	</p>
	<p>
		Thank you for taking the time to read my story. Your support, whether through donations or by sharing my campaign, 
		will make a significant difference. Let's unite in this endeavor to create positive change.
	</p>
	<p>
		With boundless gratitude and hope, Ezekiel
	</p>
	